@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-LightItalic.eot);
  src: url(../fonts/SFUI/SFUIText-LightItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-LightItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-LightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-UltralightItalic.eot);
  src: url(../fonts/SFUI/SFUIText-UltralightItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-UltralightItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-UltralightItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-HeavyItalic.eot);
  src: url(../fonts/SFUI/SFUIText-HeavyItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-HeavyItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-HeavyItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-MediumItalic.eot);
  src: url(../fonts/SFUI/SFUIText-MediumItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-MediumItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Ultralight.eot);
  src: url(../fonts/SFUI/SFUIText-Ultralight.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Ultralight.woff) format('woff'), url(../fonts/SFUI/SFUIText-Ultralight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Medium.eot);
  src: url(../fonts/SFUI/SFUIText-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Medium.woff) format('woff'), url(../fonts/SFUI/SFUIText-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Light.eot);
  src: url(../fonts/SFUI/SFUIText-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Light.woff) format('woff'), url(../fonts/SFUI/SFUIText-Light.ttf) format('truetype');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-SemiboldItalic.eot);
  src: url(../fonts/SFUI/SFUIText-SemiboldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-SemiboldItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-SemiboldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Semibold.eot);
  src: url(../fonts/SFUI/SFUIText-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Semibold.woff) format('woff'), url(../fonts/SFUI/SFUIText-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Heavy.eot);
  src: url(../fonts/SFUI/SFUIText-Heavy.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Heavy.woff) format('woff'), url(../fonts/SFUI/SFUIText-Heavy.ttf) format('truetype');
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Bold.eot);
  src: url(../fonts/SFUI/SFUIText-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Bold.woff) format('woff'), url(../fonts/SFUI/SFUIText-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-Regular.eot);
  src: url(../fonts/SFUI/SFUIText-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-Regular.woff) format('woff'), url(../fonts/SFUI/SFUIText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-RegularItalic.eot);
  src: url(../fonts/SFUI/SFUIText-RegularItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-RegularItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-RegularItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'Expro';
  src: url(../fonts/SFUI/SFUIText-BoldItalic.eot);
  src: url(../fonts/SFUI/SFUIText-BoldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/SFUI/SFUIText-BoldItalic.woff) format('woff'), url(../fonts/SFUI/SFUIText-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic
}

* {
  font-family: Expro;
}

#menu-mobile {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  height: 43px;
  .searchform {
    margin-top: 30px;
  }
  .cart-contents {
    img {
      width: 30px;
    }
    .number-cart {
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: red;
      color: #fff;
      padding: 0px 5px;
      font-weight: 700;
      border-radius: 50%;
    }
  }
  .icon-click-menu {
    padding: 7px 15px;
    text-align: center;
    #mobile-menu-icon {
      z-index: 1;
      margin-top: -12px;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      float: left;
      margin-top: 0;
      .nav-icon {
        display: inline-block;
        width: 22px;
        height: 2px;
        position: relative;
        top: -4px;
        transition: background 0.2s ease;
        &:after, &:before {
          position: absolute;
          right: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          transition: background 0.4s, right .2s ease, -webkit-transform 0.4s;
          transition: transform 0.4s, background 0.4s, right .2s ease;
          transition: transform 0.4s, background 0.4s, right .2s ease, -webkit-transform 0.4s;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        &:before {
          -webkit-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
        }
        &:after {
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
      }
    }
    .logo-main-mobile {
      img {
        max-width: 60px;
        margin-right: 20px;
      }
    }
  }
  .show-menu-mobile {
    background: #fff;
    color: #999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    overflow-y: auto;
    padding: 15px;
    .close-menu {
      font-size: 18px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        color: #e74c3c;
      }
    }
    #nav-menu {
      padding: 25px 0 !important;
      li {
        &.active {
          > span > i {
            transform: rotate(180deg);
            transition: all 0.5s;
          }
        }
      }
      > li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        > a {
          text-transform: uppercase;
        }
        a {
          color: #777;
          display: block;
          padding: 15px 0 15px 0;
          font-size: 14px;
          line-height: 22px;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          padding: 15px 10px;
          z-index: 1;
          cursor: pointer;
          text-align: right;
          i {
            transition: all 0.5s;
          }
        }
        ul {
          padding: 0 15px !important;
          display: none;
          li {
            position: relative;
            a {
              font-size: 14px;
              font-weight: normal;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
        .sub-active {
          transform: scaleY(1);
          max-height: initial;
          opacity: 1;
        }
      }
    }
  }
  .show-menu-mobile.active {
    left: 0;
  }
}
